
## Program to Implement TF_IDF and Bag of Words(BoW)

## Aim: To convert the given sequence of texts to vectors


## Objective: To convert the given texts to vectors so that the machine can understand the context and we can efficiently build Deep learning and Machine Learning Models

Importing the required libraries

In [ ]:
import pandas as pd
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer
import nltk
nltk.download('punkt')
import string
nltk.download("stopwords")
from nltk.corpus import stopwords
english_stopwords = stopwords.words("english")
import warnings
warnings.filterwarnings("ignore")

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

Corpus

In [ ]:
doc1  = "It was the best of times"
doc2 = "It was the worst of times"
doc3 = "It was the age of wisdom"
doc4 = "It was the age of foolishness"
document =[doc1,doc2,doc3,doc4]

Tokenization

In [ ]:
tokens = []
word_set = []

for sent in document:
    #x = [i.lower() for  i in word_tokenize(sent) if i.isalpha()]
  for i in word_tokenize(sent):
    if i.isalpha():
      x = i.lower()

      tokens.append(x)
for word in tokens:
    if word not in word_set:
        word_set.append(word)

In [ ]:
print(tokens)
print(word_set)

['it', 'was', 'the', 'best', 'of', 'times', 'it', 'was', 'the', 'worst', 'of', 'times', 'it', 'was', 'the', 'age', 'of', 'wisdom', 'it', 'was', 'the', 'age', 'of', 'foolishness']
['it', 'was', 'the', 'best', 'of', 'times', 'worst', 'age', 'wisdom', 'foolishness']

Implementing Bag of Words

In [ ]:
vectorizer =CountVectorizer()
vector = vectorizer.fit_transform(document)

In [ ]:
print("Bag of words")
CountVec = CountVectorizer(ngram_range=(1,1),stop_words='english')
cv_dataframe=pd.DataFrame(vector.toarray())
cv_dataframe.columns =sorted(word_set)
cv_dataframe.index = [doc1, doc2, doc3, doc4]
(cv_dataframe)

Bag of words

,age,best,foolishness,it,of,the,times,was,wisdom,worst
It was the best of times,0,1,0,1,1,1,1,1,0,0
It was the worst of times,0,0,0,1,1,1,1,1,0,1
It was the age of wisdom,1,0,0,1,1,1,0,1,1,0
It was the age of foolishness,1,0,1,1,1,1,0,1,0,0

Storing the index of each word in dictionary

In [ ]:
index_dict = {} #Dictionary to store index for each word
i = 0
for word in word_set:
    index_dict[word] = i
    i += 1
index_dict

{'it': 0,
 'was': 1,
 'the': 2,
 'best': 3,
 'of': 4,
 'times': 5,
 'worst': 6,
 'age': 7,
 'wisdom': 8,
 'foolishness': 9}

In [ ]:
def count_dict(sentences):
    word_count = {}
    for word in word_set:
        word_count[word] = 0
        for sent in sentences:
            if word in sent:
                word_count[word] += 1
    return word_count

word_count = count_dict(tokens)
print(word_count)

{'it': 4, 'was': 4, 'the': 4, 'best': 1, 'of': 4, 'times': 2, 'worst': 1, 'age': 2, 'wisdom': 1, 'foolishness': 1}

Implementing the TF_IDF

In [ ]:
print("Term Frequency")
import numpy as np
corpus = ["it was the best of times", "it was the worst of times","it was the age of wisdom", "it was the age of foolishness"]
total_documents = len(document)
no_words_set = len(word_set)

df_tf = pd.DataFrame(np.zeros((total_documents, no_words_set)), columns=word_set)

# Compute Term Frequency (TF)
for i in range(total_documents):
    words =corpus[i].split(' ') # Words in the document
    for w in words:
        df_tf[w][i] = df_tf[w][i] + (1 / len(words))
df_tf

Term Frequency

,it,was,the,best,of,times,worst,age,wisdom,foolishness
0,0.166667,0.166667,0.166667,0.166667,0.166667,0.166667,0.000000,0.000000,0.000000,0.000000
1,0.166667,0.166667,0.166667,0.000000,0.166667,0.166667,0.166667,0.000000,0.000000,0.000000
2,0.166667,0.166667,0.166667,0.000000,0.166667,0.000000,0.000000,0.166667,0.166667,0.000000
3,0.166667,0.166667,0.166667,0.000000,0.166667,0.000000,0.000000,0.166667,0.000000,0.166667

In [ ]:
print("IDF of: ")
idf = {}
for w in word_set:
    k = 0
    for i in range(total_documents):
        if w in corpus[i].split():
            k += 1
    idf[w] =  np.log10(total_documents / k)
    print(f'{w}: {idf[w]}')

IDF of:
it: 0.0
was: 0.0
the: 0.0
best: 0.6020599913279624
of: 0.0
times: 0.3010299956639812
worst: 0.6020599913279624
age: 0.3010299956639812
wisdom: 0.6020599913279624
foolishness: 0.6020599913279624

In [ ]:
print("TF-IDF")
df_tf_idf = df_tf.copy()
for w in word_set:
    for i in range(total_documents):
        df_tf_idf[w][i] = df_tf[w][i] * idf[w]

df_tf_idf

TF-IDF

,it,was,the,best,of,times,worst,age,wisdom,foolishness
0,0.0,0.0,0.0,0.100343,0.0,0.050172,0.000000,0.000000,0.000000,0.000000
1,0.0,0.0,0.0,0.000000,0.0,0.050172,0.100343,0.000000,0.000000,0.000000
2,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.050172,0.100343,0.000000
3,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.050172,0.000000,0.100343

Using the inbuilt Tfidvectorizer from sklearn

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

#without smooth IDF
print("Without Smoothing:")
#define tf-idf
tf_idf_vec = TfidfVectorizer(use_idf=True,
                        smooth_idf=False,
                        ngram_range=(1,1),stop_words='english') # to use only  bigrams ngram_range=(2,2)
#transform
tf_idf_data = tf_idf_vec.fit_transform([doc1, doc2, doc3, doc4])

#create dataframe
tf_idf_dataframe=pd.DataFrame(tf_idf_data.toarray(),columns=tf_idf_vec.get_feature_names())
print(tf_idf_dataframe)
print("\n")

#with smooth
tf_idf_vec_smooth = TfidfVectorizer(use_idf=True,
                        smooth_idf=True,
                        ngram_range=(1,1),stop_words='english')


tf_idf_data_smooth = tf_idf_vec_smooth.fit_transform([doc1, doc2, doc3, doc4])

print("With Smoothing:")
tf_idf_dataframe_smooth=pd.DataFrame(tf_idf_data_smooth.toarray(),columns=tf_idf_vec_smooth.get_feature_names())
print(tf_idf_dataframe_smooth)

Without Smoothing:
        age      best  foolishness     times    wisdom     worst
0  0.000000  0.815564     0.000000  0.578667  0.000000  0.000000
1  0.000000  0.000000     0.000000  0.578667  0.000000  0.815564
2  0.578667  0.000000     0.000000  0.000000  0.815564  0.000000
3  0.578667  0.000000     0.815564  0.000000  0.000000  0.000000


With Smoothing:
       age      best  foolishness    times    wisdom     worst
0  0.00000  0.785288     0.000000  0.61913  0.000000  0.000000
1  0.00000  0.000000     0.000000  0.61913  0.000000  0.785288
2  0.61913  0.000000     0.000000  0.00000  0.785288  0.000000
3  0.61913  0.000000     0.785288  0.00000  0.000000  0.000000

# Conclusion:
### Both BoW and TF-IDF helps in vectorizing. But the Bow doesn't understand the context moreover sometimes two or more articles in the corpus can have the same frequency.  In TF-IDF we are performing the inverse of the transformation which helps us to understand the context to some extent. Also, in TF-IDF the terms which appear more frequently are given less weightage and less frequently appearing words are given less weightage.